<h1>Product Details</h1>

<%= if product do %>
  <div>
    <h2><%= product.name %></h2>
    <p>ID: <%= product.id %></p>
    <p>Type: <%= product.type %></p>
    <p>In Stock: <%= if product.in_stock, do: "Yes", else: "No" %></p>
    </div>
<% else %>
  <p>Product not found!</p>
<% end %>
